* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 900px;
  margin: auto;
}

.container-resp {
  max-width: 90%;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.display-flex {
  display: flex;
}

.justi-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.add-button {
  background-color: lightgoldenrodyellow;
  color: blue;
  padding: 10px;
  border-radius: 0.3rem;
  border-color: red;
}

.add-button:hover {
  cursor: pointer;
  background-color: blue;
  color: lightgoldenrodyellow;
}

.overlay {
  background-color: rgba(16, 7, 7, 0.602);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.vis-none {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 40%;
  background-color: white;
}

textarea {
  width: 100%;
  resize: none;
  margin-top: 2rem;
  margin-bottom: 10px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-right {
  text-align: end;
}
